.body {
  max-width: 100%;
  width: 1000px;
}

.practice {
  margin: 0 10%;
}

.header {
  margin-top: 50px;
  height: 50px;
}

.header_text {
  font-size: 30px;
  font-weight: bold;
  color: #233B6C;
  float: left;
  position: relative;
}

.list {
  float: right;
}

.list ul {
  list-style: none;
}

.list li {
  float: left;
  margin-left: 30px;
  color: #233B6C;
  font-size: 16px;
  font-weight: bold;
}

.main_text {
  width: 100%;
  margin: 35% auto 10%; 
  display: inline-block;
}

.text {
  font-size: 50px;
}

.color_box {
  background: #233B6C;
  display: inline-block;
  padding: 6% 42%;
  margin-top: -15px;
  position: relative;
}

.img{
  width: 50%;
  height: 50%;
  position: absolute;
  top: -190%;
  right: -25%;
}

.img img {
  width: 100%;
}